$max-width: 1400px;
$gutter: 20px;
$trans: transform 300ms ease-in-out;

//colors:
$nero: #222;
$black: #000;
$whisper: #eee;
$silver: #ccc;
$grey: #999;
$default-size: 16px;
$margin1: $default-size;
$margin2: $default-size * 2;

//grid:
@mixin row() {
  display: flex;
  flex-wrap: wrap;
  margin-left: -($gutter / 2);
  margin-right: -($gutter / 2);
}

@mixin column() {
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
  width: 100%;
}
