// Sækja config
@import './config';
// Allir stílar fyrir events

.events {
  margin-bottom: $margin2;

  .col {
    margin-bottom: $margin2;
  }
}

.event {
  background-color: $silver;
  height: 100%;
  min-height: 250px;
  position: relative;
  width: 100%;
  word-break: break-word;

  &:last-child {
    margin-right: 0;
  }

  h3 {
    margin-bottom: $margin1;
  }

  p {
    font-style: italic;
    margin-bottom: $margin1;
  }

  ul {
    font-style: italic;
    list-style: none;
  }

  .face {
    backface-visibility: hidden;
    height: 100%;
    padding: 0.5 * $default-size;
    position: absolute;
    width: 100%;
  }

  .face.back {
    transform: rotateY(180deg);
  }

  .back {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .card {
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-style: preserve-3d;
    transition: $trans;
  }

  &:hover .card {
    transform: rotateY(180deg);
  }
}

.event .front {
  display: flex;

  h3 {
    font-size: 2 * $default-size;
    margin: auto;
    text-align: center;
  }
}
