// Sækja config
@import './config';
// Allir stílar fyrir "global", þ.e.a.s. type selectorar, reset etc

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: $nero;
}

button {
  background-color: $nero;
  border: 1px solid $black;
  border-radius: 5px;
  padding: 0.5 * $default-size;
  transition: background-color $trans, color $trans;
  word-break: initial;

  &:hover {
    background-color: $whisper;
    color: $nero;
  }

  &:active {
    background-color: $nero;
    border: 1px solid $black;
    color: $whisper;
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'Montaga', Georgia, serif;
}
